<form>
  <div class="form-group">
    <label class=""for="name">Do you know?</label><br>
    {{input value=name id="name" placeholder="your name here"}}
    {{input value=theAnswer id="theAnswer" placeholder="your answer here"}}
    <button class="btn btn-primary btn-xs"{{action 'saveAnswer'}}>add</button>
  </div>
</form>


<li>{{answer.name}} - {{answer.answer}}</li>

<!-- <ul>
  {{#each model.answers as |answer|}}
    <li>{{answer-tile answer=answer}}</li>
  {{/each}}
</ul> -->
