{{#if updateQuestionForm}}
<div>
  <form>
    <div class="form-group">
      <label class=""for="question">New Question</label>
      {{input value=question class="question" }}
      <label class=""for="author">Author</label>
      {{input value=author class="author" }}
      <button class="btn btn-info btn-xs"{{action 'update' board}}>save</button>
    </div>
  </form>
</div>
{{else}}
<button class="btn btn-warning btn-xs"{{action 'updateQuestionForm'}}>edit</button>
{{/if}}
<hr class="editlineindex">
